{% extends 'mensajes/mensajes.html' %}


{% block content %}
    <h2>{% block header %}Lista de Mensajes{% endblock %}</h2>

    <div class="container">
        <ul class="list-group">
            {% for mensaje in mensajes %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <strong>De:</strong> {{ mensaje.remitente }}<br>
                        <strong>Para:</strong> {{ mensaje.destinatario }}<br>
                        <span>{{ mensaje.texto }} ({{ mensaje.fecha_hora_envio }})</span>
                    </div>
                    <form action="{% url 'mensajes:eliminarMensaje' mensaje.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                    </form>
                </li>
            {% empty %}
                <li class="list-group-item">No tienes mensajes {{ tipo }}.</li>
            {% endfor %}
        </ul>
    </div>


{% endblock %}
